<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/css/mysh1.css">
</head>
<body>
<th:block th:replace="layout/header"></th:block>
      <section>
      <div class="mysh_main">
        <div class="main_banner">
          <div class="banner_content">
            <h3>역세권 쉐어하우스를 <br> 빠르게 검색해보세요</h3>
            <input type="text" placeholder="지역, 지하철역, 대학 주변검색">
          </div>
        </div>
        <div class="search_banner_area">
          <div class="search_banner">
            <h3>Better Together! Better Life!</h3>
            <h1>국내 최초, 최대 셰어하우스 운영사</h1>
            <a href="#">우주 하우스 보기</a>
          </div>
        </div>
        <div class="main_content1">
          <h1>" 살아보고는 싶은데 이것 저것 걱정이 많다면? "</h1>
          <div class="main_content1_list">
            <div class="main_content1_list_item">
              <img src="https://s3.ap-northeast-2.amazonaws.com/woozoo/layout_images/main_contents/1.png">
              <h2>
                <strong>안전한 계약</strong>
                <br/>
                믿을 수 있는
                <br/>
                우주 표준 임대차 계약서로
                <br/>
                안심 계약 가능!
                <br/>
                보증금 이제 걱정하지 마세요!
              </h2>
            </div>
            <div class="main_content1_list_item">
              <img src="https://s3.ap-northeast-2.amazonaws.com/woozoo/layout_images/main_contents/2.png">
              <h2>
                <strong>가심비 저격</strong>
                <br/>
                중개수수료 NO!
                <br/>
                가구, 가전, wifi, 각종 집기까지
                <br/>
                번거롭고 복잡한 이사도 NO!
                <br/>
                Full Furnished로 몸만 들어오세요!
              </h2>
            </div>
            <div class="main_content1_list_item">
              <img src="https://s3.ap-northeast-2.amazonaws.com/woozoo/layout_images/main_contents/3.png">
              <h2>
                <strong>자유로운 이동</strong>
                <br/>
                계약 기간 안에 언제든지~
                <br/>
                서울 전역 우주 하우스로
                <br/>
                이동이 가능합니다!
              </h2>
            </div>
            <div class="main_content1_list_item">
              <img src="https://s3.ap-northeast-2.amazonaws.com/woozoo/layout_images/main_contents/4.png">
              <h2>
                <strong>따로, 또 같이</strong>
                <br/>
                함께 생활하는 불편은 최소화,
                <br/>
                함께하는 장점은 극대화!
                <br/>
                공용 공간 정기 청소,
                <br/>
                방역 서비스 등 각종 주거 서비스 제공
              </h2>
            </div>
            <div class="main_content1_list_item">
              <img src="https://s3.ap-northeast-2.amazonaws.com/woozoo/layout_images/main_contents/5.png">
              <h2>
                <strong>빠른 민원 해결</strong>
                <br/>
                본사 CS팀을 통한
                <br/>
                빠른 민원 접수와 해결로
                <br/>
                시설 문제도 걱정 없어요!
              </h2>
            </div>
            <div class="main_content1_list_item">
              <img src="https://s3.ap-northeast-2.amazonaws.com/woozoo/layout_images/main_contents/6.png">
              <h2>
                <strong>다양한 서비스</strong>
                <br/>
                우주에서만 누릴 수 있는
                <br/>
                다양한 부가-제휴 서비스가 가득!
                <br/>
                우주인만 즐길 수 있는
                <br/>
                커뮤니티 이벤트는 덤 이에요!
              </h2>
            </div>
          </div>
        </div>
        <div class="main_content2">
          <h2>우주인이 들려주는 리얼 스토리!</h2>
          <div class="main_content2_list">
            <ul>
              <li class="main_content2_list_item">
                <a href="#"><img src="https://s3.ap-northeast-2.amazonaws.com/woozoo/layout_images/main_contents/blog4.png"></a>
                <h4>"우주의 진짜 이야기"<br>44호점 우주인님들<img src="https://s3.ap-northeast-2.amazonaws.com/woozoo/layout_images/main_contents/plus.png"></h4>
              </li>
              <li class="main_content2_list_item">
                <a href="#"><img src="https://s3.ap-northeast-2.amazonaws.com/woozoo/layout_images/main_contents/blog5.png"></a>
                <h4>"우주에서 오래 지내고싶어"<br>한*수 우주인님<img src="https://s3.ap-northeast-2.amazonaws.com/woozoo/layout_images/main_contents/plus.png"></h4>
              </li>
              <li class="main_content2_list_item">
                <a href="#"><img src="https://s3.ap-northeast-2.amazonaws.com/woozoo/layout_images/main_contents/blog6.png"></a>
                <h4>"2년 4개월의 성수동 스토리"<br>서*연 우주인님<img src="https://s3.ap-northeast-2.amazonaws.com/woozoo/layout_images/main_contents/plus.png"></h4>
              </li>
              <li class="main_content2_list_item">
                <a href="#"><img src="https://s3.ap-northeast-2.amazonaws.com/woozoo/layout_images/main_contents/blog1.gif"></a>
                <h4>"우주를 추억하며"<br>이*정 우주인님<img src="https://s3.ap-northeast-2.amazonaws.com/woozoo/layout_images/main_contents/plus.png"></h4>
              </li>
            </ul>
          </div>
          <div class="main_content2_more">
            <a>인터뷰 더보기</a>
          </div>
        </div>
        <div class="main_content3">
          <img src="https://s3.ap-northeast-2.amazonaws.com/woozoo/layout_images/main_contents/main-banner-1.png">
          <img src="https://s3.ap-northeast-2.amazonaws.com/woozoo/layout_images/main_contents/cooper-banner.png">
        </div>
      </div>
      </section>
<th:block th:replace="layout/footer"></th:block>
</body>
</html>