<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/css/mysh1.css">
</head>
<body>
<th:block th:replace="layout/header"></th:block>
      <nav class="PutOutRoom_Nav">
        <ul class="porN_list">
            <li><a href="/putOutRoom/info">서비스 소개</a></li>
            <li><a href="/putOutRoom/directManagement">직영 임대 주기</a></li>
            <li><a href="/putOutRoom/entrust">위탁 맡기기</a></li>
        </ul>
    </nav>
      <section>
          <div>
              <div class="directRent_banner">
                  <ul>
                      <li class="drb_text1">​내 집 임대가 고민이신 분</li>
                      <li class="drb_text2">WOOZOO가 임차인이 되어드립니다</li>
                      <li><a href="#" class="drb_link">상담 신청 하기</a></li>
                  </ul>
              </div>
              <div class="directRent_content1">
                <h4>불필요한 지출과 노력을 줄이고 싶은 당신이</h4>
                <h2>mySh에게 임대해야 하는 이유</h2>
              </div>
              <div class="directRent_content2">
                <ul class="directRent_content2_list">
                  <li>
                    <img src="https://static.wixstatic.com/media/bcffd4_432925d9638a43ce8e1b3abfea2f4f83~mv2.png/v1/fill/w_121,h_111,al_c,lg_1,q_85/1.webp">
                    <h3>임차인 모집이 어려우신가요?</h3>
                    전세 수요가 늘고,<br>
                    월세 수요가 줄어드는 상황에서,<br>
                    우주는 장기 월세 임차인으로서의<br>
                    장점이 있습니다.
                  </li>
                  <li>
                    <img src="https://static.wixstatic.com/media/bcffd4_3feffce26b9141e5982edd75774fe1e9~mv2.png/v1/fill/w_121,h_111,al_c,lg_1,q_85/2.webp">
                    <h3>집이 낡아서 인기가 없나요?</h3>
                    우주는 낡은 집을 가성비 있게<br>
                    리모델링하여<br>
                    임대인과 실 거주자 모두의<br>
                    만족도를 높여드립니다.
                  </li>
                  <li>
                    <img src="https://static.wixstatic.com/media/bcffd4_37162f8ecb7a4b3db508cd1e3693b451~mv2.png/v1/fill/w_121,h_111,al_c,lg_1,q_85/4.webp">
                    <h3>지출되는 비용이 많으세요?</h3>
                    우주와의 계약으로<br>
                    중개 수수료를 절감 할 수 있고,<br>
                    임대 기간 동안 번거로운<br>
                    시설 보수를 대신합니다.
                  </li>
                  <li>
                    <img src="https://static.wixstatic.com/media/bcffd4_d8dd852758c149c492b2bfca256f7c10~mv2.png/v1/fill/w_121,h_111,al_c,lg_1,q_85/3.webp">
                    <h3>​임차인 관리가 힘드세요?​</h3>
                    우주가 전문적으로<br>
                    임차/관리하며<br>
                    꼭 필요한 경우가 아니면<br>
                    연락 해 번거롭게 하지않습니다.
                  </li>
                </ul>
              </div>
              <div class="directRent_content3">
                <h4>불필요한 벽지,장판, 보수 비용과<br>부동산 중개 비용 지출은 줄이고,</h4>
                <h3>가지고 계신 물건을<br>셰어하우스 우주에 장기 임대해보세요</h3>
              </div>
              <div>
                캐러셀 영역
              </div>
              <div class="directRent_content4">
                <h4>월세 수익을 더 높이고 싶으신가요?</h4>
                <h2>보증금은 낮추고, 월세를 높이실 수도 있습니다</h2>
                <ul class="directRent_content4_list">
                  <li>보증금<br><span>5000만원</span><br><br>월세<br><span>50만원</span></li>
                  <img src="img/arrow.png">
                  <li>보증금<br><span>2000만원</span><br><br>월세<br><span>70만원</span></li>
                </ul>
              </div>
              <div class="directRent_content5">
                <h2>우주에 장기 임대를 맡기고 계신 분들의<br>후기를 읽어보세요</h2>
                <ul class="directRent_content5_list">
                  <li>
                    <img src="https://static.wixstatic.com/media/bcffd4_2ef4e284b3a44ab2bc8d9ebdc3bd9318~mv2.png/v1/fill/w_279,h_434,al_c,q_95/bcffd4_2ef4e284b3a44ab2bc8d9ebdc3bd9318~mv2.webp">
                  </li>
                  <li>
                    <img src="https://static.wixstatic.com/media/bcffd4_d639ce3feea74d349bbde5f3b56db537~mv2.png/v1/fill/w_279,h_434,al_c,q_95/bcffd4_d639ce3feea74d349bbde5f3b56db537~mv2.webp">
                  </li>
                  <li>
                    <img src="https://static.wixstatic.com/media/bcffd4_32ffcc9fcb4f48499429e20c7642cee3~mv2.png/v1/fill/w_279,h_434,al_c,q_95/bcffd4_32ffcc9fcb4f48499429e20c7642cee3~mv2.webp">
                  </li>
                  <li>
                    <img src="https://static.wixstatic.com/media/bcffd4_f6da0ff93992450ba3d1837c3fba7469~mv2.png/v1/fill/w_279,h_434,al_c,q_95/bcffd4_f6da0ff93992450ba3d1837c3fba7469~mv2.webp">
                  </li>
                </ul>
              </div>
              <div class="directRent_content6">
                <h3>많은 분들이 이렇게 문의를 주셨습니다.</h3>
                <ul class="directRent_content6_list">
                  <li>
                    <h4>임대 조건이 까다롭진 않나요?</h4>
                    일반 주택 임대차 계약과 같습니다.
                    단, 건물 소유주의 전대 동의가
                    필요합니다.
                  </li>
                  <li>
                    <h4>집 관리는 어떻게 하나요?</h4>
                    정적이고 지속적인 하우스 관리로
                    입주인 / 시설 문제가
                    발생하지 않도록 관리합니다.
                  </li>
                  <li>
                    <h4>보증금을 낮추고<br>월세를 높일 수 있을까요?</h4>
                    보증금을 낮추고
                    월세 수익을 높일 수 있습니다.
                    (예 5000/50 > 2000/70)
                  </li>
                  <li>
                    <h4>임대차 계약 만료 후<br>재연장을 할 수 있나요?</h4>
                    가능합니다. 실제로 계약 만료
                    후재연장 의사가 높으며,
                    ​필요시 기간도 협의 가능합니다.
                  </li>
                </ul>
              </div>
              <div class="directRent_content7">
                <h2>고민중이라면 망설이지 말고<br>상담부터 신청하세요!</h2>
                <ul class="directRent_content7_list">
                  <li><input type="text" placeholder="보유 부동산의 주소를 입력해주세요!"></li>
                  <li><a href="#">다음</a></li>
                </ul>
              </div>
              <div class="directRent_content8">
                <h3>상담 및 계약 과정</h3>
                <ul class="directRent_content8_list">
                  <li>
                    <img src="https://static.wixstatic.com/media/bcffd4_12ce0c9ffe1a465da6fba369049a086a~mv2.png/v1/fill/w_196,h_183,al_c,q_85/ico_1.webp">
                    <h3>상담하기</h3>
                  </li>
                  <li>
                    <img src="https://static.wixstatic.com/media/bcffd4_743c1a69d3ec47dabed0cf8a94aacda6~mv2.png/v1/fill/w_196,h_183,al_c,q_85/ico_2.webp">
                    <h3>계약하기</h3>
                  </li>
                  <li>
                    <img src="https://static.wixstatic.com/media/bcffd4_31ce20d0dc39431897f2f29ccf5316c5~mv2.png/v1/fill/w_196,h_183,al_c,q_85/ico_3.webp">
                    <h3>월세받기</h3>
                  </li>
                </ul>
              </div>
              <div class="directRent_content9">
                <h2>장기 임대 말고, 쉐어하우스 운영 수익을<br>전부 다 받으면 얼마일까?</h2>
                <a href="#">쉐어하우스 운영 대행 알아보기</a>
              </div>
          </div>
      </section>
<th:block th:replace="layout/footer"></th:block>
</body>
</html>